* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #f5f5f5;
}
.container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
nav {
  background: white;
  height: 100px;
  width: 100%;
}
/* Consists of logo, search bar and filter icon. */
nav ul.logo-search-filter {
  float: left;
  margin-top: 12px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
/* Consists of logo, search bar and filter icon. */
nav ul.logo-search-filter li {
  list-style: none;
  display: inline-block;
}

/* Search Bar Background */
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ec691e;
  padding: 0.8rem;
  margin: 14px 5px 0 0;
  border-radius: 0.5rem;
  color: white;
  /* box-shadow: 0.25rem 0.25rem 0rem #f0b2a8; */
}
/* Search Bar */
input {
  margin: 0 0.5rem 0 0.5rem;
  width: 400px;
  border: none;
  outline: none;
  background: #ec691e;
  color: white;
  font-size: 16px;
}
/* Search Bar Text */
::placeholder {
  color: #f0b2a8;
  font-weight: bold;
}

/* Consists of Right Icons */
nav ul.ul-icon {
  float: right;
  margin-right: 20px;
  margin-top: 18px;
}
/* Consists of Right Icons */
nav ul.ul-icon li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
}
/* Icon Names */
.name {
  color: #ec691e;
  font-weight: bold;
}

/* DiverseBuy Logo */
img#logo {
  cursor: pointer;
  width: 80%;
  padding: 0px 0 0 30px;
}

/* Grey Filter Icon */
.filterNull_icon {
  position: absolute;
  width: 30px;
  margin: 14px 0 0 0;
  cursor: pointer;
}
/* Blue Filter Icon */
.filterOn_icon {
  width: 30px;
  margin: 14px 0 0 0;
  cursor: pointer;
}
/* Grey Filter icon when hovering */
.icon:hover img.filterNull_icon {
  opacity: 0;
}
/* Blue Filter Icon when hovering */
.icon:hover img.filterOn_icon {
  opacity: 1;
}

/* Grey Sell icon */
.sellNull_icon {
  position: absolute;
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Blue Sell icon */
.sellOn_icon {
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Sell icon when hovering */
.icon:hover img.sellNull_icon {
  opacity: 0;
}
/* Blue Sell Icon when hovering */
.icon:hover img.sellOn_icon {
  opacity: 1;
}

/* Grey Live Icon */
.liveNull_icon {
  position: absolute;
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Blue Live Icon */
.liveOn_icon {
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Rewards icon when hovering */
.icon:hover img.liveNull_icon {
  opacity: 0;
}
/* Blue Rewards Icon when hovering */
.icon:hover img.liveOn_icon {
  opacity: 1;
}

/* Grey Rewards Icon */
.rewardsNull_icon {
  position: absolute;
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Blue Rewards Icon */
.rewardsOn_icon {
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Rewards icon when hovering */
.icon:hover img.rewardsNull_icon {
  opacity: 0;
}
/* Blue Rewards Icon when hovering */
.icon:hover img.rewardsOn_icon {
  opacity: 1;
}

/* Grey Quest icon */
.questNull_icon {
  position: absolute;
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Blue Quest icon */
.questOn_icon {
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Quest icon when hovering */
.icon:hover img.questNull_icon {
  opacity: 0;
}
/* Blue Quest Icon when hovering */
.icon:hover img.questOn_icon {
  opacity: 1;
}

/* Grey Chat icon */
.chatNull_icon {
  position: absolute;
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Blue Chat icon */
.chatOn_icon {
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Chat icon when hovering */
.icon:hover img.chatNull_icon {
  opacity: 0;
}
/* Blue Chat Icon when hovering */
.icon:hover img.chatOn_icon {
  opacity: 1;
}

/* Grey Cart icon */
.cartNull_icon {
  position: absolute;
  width: 40px;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
}
/* Blue Cart icon */
.cartOn_icon {
  width: 40px;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  opacity: 0;
}
/* Grey Cart icon when hovering */
.icon:hover img.cartNull_icon {
  opacity: 0;
}
/* Blue Cart Icon when hovering */
.icon:hover img.cartOn_icon {
  opacity: 1;
}
/* Grey Profile icon */
.profileNull_icon {
  position: absolute;
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Blue Profile icon */
.profileOn_icon {
  width: 40px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Profile icon when hovering */
.icon:hover img.profileNull_icon {
  opacity: 0;
}
/* Blue Profile Icon when hovering */
.icon:hover img.profileOn_icon {
  opacity: 1;
}
