.profile-banner {
    padding: 150px;
    background-image: url('banner_placeholder.png');
    margin:0%;
    min-height: 338px;
    background-size: cover;
    background-size: 200%,200%;
    background-repeat: no-repeat;
    color:white;
    font-size: 50px;
    text-align: center;
    align-items: center;

}
/* This is to fix the size of the banner and ensures that the banner is not a repeated images and covers the web page */

div.profile-banner:hover,.profile-img:hover {
    opacity: 50%;
    cursor:pointer;
}
/* For this project this just gives the illusion that the user can chanege the banner and profile image, the idea though is that the user can change the banner, we just haven't implemented nor understand how to put in such an action */

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* All children have default 0 spaces*/

body{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;

}

/* The colour changes the container in the badges and the font changes */



main{
    margin: 0 74px;
    padding-top:200px;
    overflow-x:hidden;
    left: 50px;
    padding-top:90px;
    display: flex;

}
/* keeping the profile information at certain area*/

.profile-img img{
    border-radius: 50%;
    width:230px;
    height: 230px;
    border-width: 10px solid #fff;
    position:absolute;
    left: 70px;
    top: 230px;
    cursor:pointer;

}
/* fixed the position of the profile img */


.profile-info {
    padding-top: 60px;
    width: 250px;
    padding: 90px 0px;
}
/* Giving the profile info a wider space*/

.profile-info h1{
    margin-bottom: 5px;

}
/* Profile name has space before the title */

.title {
    margin-bottom: 30px;

}
/* Profile title has space before the joined status*/
.joined-status {
    margin-bottom: 10px;

}
/* Profile status has space before the rating*/

.user-ratings {
    margin-bottom: 20px;
    flex-wrap:nowrap;
}
/* Profile rating has space before the user's location*/


.address {
    margin-bottom: 100px;

}
/* Profile location has space before the buttons*/

button.quest-btn, button.voucher-btn, button.collection-btn, button.view-badges-all{
    border:0;
    padding:20px;
    width:100%;
    margin-bottom: 20px;
    background:#ec691e;
    outline: auto;
    outline-style:round;
    outline-color: #ec691e;
    margin-right: 10px;
    cursor: pointer;
    color: white;



}


.collection{
    object-fit:contain;
}
.collection img {
    height:150px;
    width:250px;
}

/* making the quest and quest button orange */
button.quest-btn:hover, button.voucher-btn:hover, button.view-badges-all:hover , button.collection-btn:hover{
    background: rgb(236,105,30, 0.9);


}
/* when hovering the buttons, it looks lighter*/


.right-side{
    width:100%;
    margin-left: 50px;

}
/* Making space between profile detail with badges and other user details */

.badges{
    margin: 10px 0px 0px;
    display:flex;
    list-style-type: none;
    background-color: #fff;
    padding:0;
    max-width:1070px;
    display:flex;
    justify-content: space-around;
    box-sizing: border-box;
    
    
}
/* craeting spaces for the badge box */

.nav {
    width:100%;
    z-index: -1;
    margin-top: 20px;
    margin-left: 0%;
}
/* the navigation refers to the menu under the view all button */


.nav ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    height: 50px;
}


.nav ul li {
    width: 100%;
    cursor:pointer;
    text-align: center;
    transition: all .2s ease-in-out;
    font-size: 15px;
}
/* making the navigation bar looks good */
.badges li img{
    height:200px;

}
/*Fixing the size of the badge images*/

@media (max-width:1400px){
    .badges{
        width:800px;
    }
    .nav{
        width:800px;
    }

    .badges li img{
        height:100px;
    
    }
    button.view-badges-all {
        width:800px;
    }
}
/* Making resposiveness at width:1400px */


@media (max-width:1250px){
    .badges{
        width:600px;
    }
    .nav{
        width:600px;
    }
    button.view-badges-all{
        width:600px;
    }
    
}
/* Making resposiveness at width:1250px */

@media (max-width:1044px){
    .badges{
        width:550px;
    }
    .nav{
        width:550px;
    }
    button.view-badges-all{
        width:550px;
    }

}

/* Making resposiveness at width:1044px */


@media (max-width:768px){
    .badges{
        width:550px;
    }
    button.view-badges-all{
        width:550px;
    }
}
/* Making resposiveness at width:768px */



.nav ul li.active,
.nav ul li:hover {
    box-shadow: 0px -3px 0px rgb(236,105,30) inset;
}
/* Making the nav have the orannge line when hover or active*/
.profile-body{
    width:100%;
    z-index: -1;
}
/* making the tabs */


.product, .product2 , .product3 , .product4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 240px;
    height: 370px;
    margin-top: 40px;
    margin-right:10px;
}
/* General size of the product listing */

.product img, .product2 img, .product3 img, .product4 img{
    max-height:224px;
    max-width:224px;
    margin: 10px 10px 0px 10px;


}



.product-list{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    
    
    
}

.saved-list{
    display:flex;
    margin-top: 30px;
    margin-bottom: 50px;
    
    
    
}

.product-name {
    margin-left: 12px;
    margin-bottom:10px;


 
}
.product-detail {
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


}

.original-price{
    color: #959595;
    font-size: 25px;
    text-decoration: line-through;


}
.discounted-price {
    color:#E94E1A;
    font-size: 25px;
}

.checked{
    color:#E94E1A;
    
}

.location {
    margin-bottom:10px;
}

.review-status {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    color:grey;
    text-align: center;
}
.about-status {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    color:grey;
    text-align: center;
}

.stream-status {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    color:grey;
    text-align: center;
}
.order-status {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    color:grey;
    text-align: center;
}
.saved-product-status {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    color:grey;
    text-align: center;
}


@media (max-width: 1200px) {
    .product-list {
      min-width: 50%;
    }
}
