* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #f5f5f5;
}
.container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

/* Nav Bar Code */
nav {
  background: white;
  height: 100px;
  width: 100%;
}
/* Consists of logo, search bar and filter icon. */
nav ul.logo-search-filter {
  float: left;
  margin-top: 12px;
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
/* Consists of logo, search bar and filter icon. */
nav ul.logo-search-filter li {
  list-style: none;
  display: inline-block;
}

/* Search Bar Background */
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ec691e;
  padding: 0.8rem;
  margin: 14px 0 0 0;
  border-radius: 0.5rem;
  color: white;
  /* box-shadow: 0.25rem 0.25rem 0rem #f0b2a8; */
}
/* Search Bar */
input {
  margin: 0 0.5rem 0 0.5rem;
  width: 400px;
  border: none;
  outline: none;
  background: #ec691e;
  color: white;
  font-size: 16px;
}
/* Search Bar Text */
::placeholder {
  color: #f0b2a8;
  font-weight: bold;
}

/* Consists of Right Icons */
nav ul.ul-icon {
  float: right;
  margin-right: 20px;
  margin-top: 18px;
}
/* Consists of Right Icons */
nav ul.ul-icon li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
}
/* Icon Names */
.name {
  color: #ec691e;
  font-weight: bold;
}

/* DiverseBuy Logo */
img#logo {
  cursor: pointer;
  width: 80%;
  padding: 0px 0 0 30px;
}

/* Grey Filter Icon */
.filterNull_icon {
  position: absolute;
  width: 30px;
  margin: 14px 0 0 5px;
  cursor: pointer;
}
/* Orange Filter Icon */
.filterOn_icon {
  width: 30px;
  margin: 14px 0 0 5px;
  cursor: pointer;
}
/* Grey Filter icon when hovering */
.icon:hover img.filterNull_icon {
  opacity: 0;
}
/* Orange Filter Icon when hovering */
.icon:hover img.filterOn_icon {
  opacity: 1;
}

/* Grey Sell icon */
.sellNull_icon {
  position: absolute;
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Orange Sell icon */
.sellOn_icon {
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Sell icon when hovering */
.icon:hover img.sellNull_icon {
  opacity: 0;
}
/* Orange Sell Icon when hovering */
.icon:hover img.sellOn_icon {
  opacity: 1;
}

/* Grey Live Icon */
.liveNull_icon {
  position: absolute;
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Orange Live Icon */
.liveOn_icon {
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Live icon when hovering */
.icon:hover img.liveNull_icon {
  opacity: 0;
}
/* Orange Live Icon when hovering */
.icon:hover img.liveOn_icon {
  opacity: 1;
}

/* Grey Rewards Icon */
.rewardsNull_icon {
  position: absolute;
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Orange Rewards Icon */
.rewardsOn_icon {
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
  opacity: 0;
}
/* Grey Rewards icon when hovering */
.icon:hover img.rewardsNull_icon {
  opacity: 0;
}
/* Orange Rewards Icon when hovering */
.icon:hover img.rewardsOn_icon {
  opacity: 1;
}

/* Grey Quest icon */
.questNull_icon {
  position: absolute;
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Orange Quest icon */
.questOn_icon {
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Quest icon when hovering */
.icon:hover img.questNull_icon {
  opacity: 0;
}
/* Orange Quest Icon when hovering */
.icon:hover img.questOn_icon {
  opacity: 1;
}

/* Grey Chat icon */
.chatNull_icon {
  position: absolute;
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Orange Chat icon */
.chatOn_icon {
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Chat icon when hovering */
.icon:hover img.chatNull_icon {
  opacity: 0;
}
/* Orange Chat Icon when hovering */
.icon:hover img.chatOn_icon {
  opacity: 1;
}

/* Grey Cart icon */
.cartNull_icon {
  position: absolute;
  width: 35px;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
}
/* Orange Cart icon */
.cartOn_icon {
  width: 35px;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  opacity: 0;
}
/* Grey Cart icon when hovering */
.icon:hover img.cartNull_icon {
  opacity: 0;
}
/* Orange Cart Icon when hovering */
.icon:hover img.cartOn_icon {
  opacity: 1;
}
/* Grey Profile icon */
.profileNull_icon {
  position: absolute;
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Orange Profile icon */
.profileOn_icon {
  width: 35px;
  cursor: pointer;
  border-radius: 2px;
}
/* Grey Profile icon when hovering */
.icon:hover img.profileNull_icon {
  opacity: 0;
}
/* Orange Profile Icon when hovering */
.icon:hover img.profileOn_icon {
  opacity: 1;
}
/* End of nav bar CSS */

/* Promotions section */
.promotion_container {
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
}

/* Large Promotion box */
div.promotion_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 240px;
  height: 370px;
  /* border: 1px solid black; */
  margin-top: 40px;
}

/* Product Image */
img.stickertape {
  margin-top: 6px;
}

/* Like button */
img.heartnull_icon {
  width: 24.44px;
  height: 23px;
}

/*  text Box below image */
div.promobox_text {
  display: grid;
  grid-template-columns: 70px 170px;
  grid-template-rows: 32px 32px 32px 32px;
  grid-gap: 3px;
  width: 240px;
  height: 149px;
  margin-left: 14px;
  margin-top: 2px;
  /* margin-top: 5px; */
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

/* first row of text (like icon, like count */
.promobox_row1 {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* first row title of product */
.promobox_title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 17px;
  margin-right: 8px;
}

/* price of product */
.promobox_price {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 24px;
  font-weight: bold;
  color: #e94e1a;
  margin-top: 9px;
}

/* Product Rating (icons) */
.promobox_rating {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 10px;
}

/* Star icons */
i.fa.fa-star {
  width: 14.5%;
  font-size: 15px;
  color: #e94e1a;
}

/* Rating number */
.promobox_rating_text {
  margin-top: 11px;
  margin-left: 5px;
  font-size: 18px;
  color: #e94e1a;
  font-weight: bold;
}

/* Country text */
.promobox_country {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  font-size: 17px;
  color: #707070;
  margin-top: 6px;
}
/* End of promotions section */

/* Adjusting Nav bar responsiveness */
@media (max-width: 1200px) {
  .promotion_container {
    min-width: 50%;
  }
}
@media (max-width: 1488px) {
  .input-wrapper {
    width: 300px;
  }
  input {
    width: 250px;
    margin: 0;
  }
  img#logo {
    width: 90%;
    height: 90%;
  }
  div.logo {
    width: 90%;
  }
}
@media (max-width: 1348px) {
  .input-wrapper {
    width: 200px;
  }
  input {
    width: 150px;
  }
}
@media (max-width: 1148px) {
  nav ul.ul-icon li {
    list-style: none;
    display: inline-block;
    padding: 10px 8px;
    text-align: center;
    font-size: 12px;
  }
}
/* End of adjusting Nav bar responsiveness */
