.profile-banner {
    padding: 0;
    background-image: url('banner_placeholder.png');
    margin:0%;
    min-height: 338px;
    background-size: cover;
    background-size: 200%,200%;
    background-repeat: no-repeat;

}
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}


body{
    background-color: #f5f5f5;

}
main{
    padding-top:200px;

}

.profile-img{
    float:left;
    width:340x;
    height: 200px;

}

.profile-img img{
    border-radius: 50%;
    width:230px;
    height: 230px;
    border-width: 10px solid #fff;
    position:absolute;
    left: 50px;
    top: 230px;

}

