.profile-banner {
    padding: 0;
    background-image: url('banner_placeholder.png');
    margin:0%;
    min-height: 338px;
    background-size: cover;
    background-size: 200%,200%;
    background-repeat: no-repeat;

}
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}


body{
    background-color: #f5f5f5;




}
main{
    margin: 0 74px;
    padding-top:200px;
    overflow-x:hidden;
    left: 50px;
    padding-top:90px;
    display: flex;

}


.profile-img img{
    border-radius: 50%;
    width:230px;
    height: 230px;
    border-width: 10px solid #fff;
    position:absolute;
    left: 70px;
    top: 230px;

}

.profile-info {
    flex-direction:column;
    padding-top: 60px;
    width: 300px;
    padding: 90px 0px 20px;
}

.profile-info h1{
    margin-bottom: 5px;

}
.title {
    margin-bottom: 30px;

}
.joined-status {
    margin-bottom: 10px;

}
.user-ratings {
    margin-bottom: 20px;

}
.address {
    margin-bottom: 100px;

}


button.stamp-btn, button.voucher-btn {
    border:0;
    padding:20px;
    width:100%;
    margin-bottom: 20px;
    background:#ec691e;
    outline: auto;
    outline-style:round;
    outline-color: #ec691e;
    margin-right: 10px;
    cursor: pointer;



}
button.stamp-btn:hover, button.voucher-btn:hover {
    background: rgb(236,105,30, 0.9);


}
.right-side{
    width:100%;
    margin-left: 100px;

}


.badges{
    margin: 10px 0px;
    display:flex;
    list-style-type: none;
    background-color: #fff;
    padding: 60px;
    justify-content: space-between;
    width:100%;
    
}
.individual-badges{
    padding-right: 50px;
}


.nav {
    width:100%;
    z-index: -1;
    margin-top: 20px;
}
.nav ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    height: 100px;
}
.nav ul li {
    padding:10px;
    width: 100%;
    cursor:pointer;
    margin:20px;
    font-size: larger;
    text-align: center;
    transition: all .2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover {
    box-shadow: 0px -3px 0px rgb(236,105,30) inset;
}

.profile-body{
    width:100%;
    z-index: -1;
}

