<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Feed</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'users/css/feed.css' %}">

    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <!-- Heart Shape Link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Half Star link -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <!-- Full star link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <!-- Lottie animation -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <div class="lottie_container">
        <lottie-player class="lottie_loading" src="https://assets2.lottiefiles.com/packages/lf20_t1ga2e1n.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
    </div>
    
    <!-- Container that wraps around all code -->
    <div class="container">
        <!-- Nav Bar -->
        <nav>
            <ul class="logo-search-filter">
                <li class="logo_list">
                    <a href="../feed">
                        <div class="logo">
                            <img src="{% static 'users/images/diversebuy_logo.png' %}" id="logo">
                        </div>
                    </a>
                </li>
                <li class="input_list">
                    <!-- Code for Search Bar -->
                    <a href="#">
                        <div class="input-wrapper">
                            <div class="fa fa-search"></div>
                            <input type="text" placeholder="Search" class="search_bar_input" />
                            <div class="fa fa-times"></div>
                        </div>
                    </a>
                </li>
                <li class="filter_list">
                    <!-- Code for Search Filter (Not Clicked) -->
                    <a href="#">
                        <div class="icon">
                            <img src="{% static 'users/images/filter_null.png' %}" class="filterNull_icon">
                            <img src="{% static 'users/images/filter_coloured.png' %}" class="filterOn_icon">
                        </div>
                    </a>
                </li>
            </ul>

            <!-- Unordered List for Right Icons -->
            <ul class="ul-icon">
                <!-- Code for Sell Icon (Not Clicked) -->
                <li>
                    <a href="../sell">
                        <div class="icon">
                            <img src="{% static 'users/images/sell_null.png' %}" class="sellNull_icon">
                            <img src="{% static 'users/images/sell_coloured.png' %}" class="sellOn_icon">
                        </div>
                        <div class="name"> Sell </div>
                    </a>
                </li>
                <!-- Code for Rewards Icon (Not Clicked) -->
                <li>
                    <a href="#">
                        <div class="icon">
                            <img src="{% static 'users/images/rewards_null.png' %}" class="rewardsNull_icon">
                            <img src="{% static 'users/images/rewards_coloured.png' %}" class="rewardsOn_icon">
                        </div>
                        <div class="name"> Rewards </div>
                    </a>
                </li>
                <!-- Code for Quest Icon (Not Clicked) -->
                <li>
                    <a href="#">
                        <div class="icon">
                            <img src="{% static 'users/images/quest_null.png' %}" class="questNull_icon">
                            <img src="{% static 'users/images/quest_coloured.png' %}" class="questOn_icon">
                        </div>
                        <div class="name"> Quest </div>
                    </a>
                </li>
                <!-- Code for Chat Icon (Not Clicked) -->
                <li>
                    <a href="#">
                        <div class="icon">
                            <img src="{% static 'users/images/chat_null.png' %}" class="chatNull_icon">
                            <img src="{% static 'users/images/chat_coloured.png' %}" class="chatOn_icon">
                        </div>
                        <div class="name"> Chat </div>
                    </a>
                </li>
                <!-- Code for Cart Icon (Not Clicked) -->
                <li>
                    <a href="../shoppingcart">
                        <div class="icon">
                            <img src="{% static 'users/images/cart_null.png' %}" class="cartNull_icon">
                            <img src="{% static 'users/images/cart_coloured.png' %}" class="cartOn_icon">
                        </div>
                        <div class="name"> Cart </div>
                    </a>
                </li>
                <!-- Code for Profile Icon (Not Clicked) -->
                <li>
                    <a href="../profile">
                        <div class="icon">
                            <img src="{% static 'users/images/profile_null.png' %}" class="profileNull_icon">
                            <img src="{% static 'users/images/profile_coloured.png' %}" class="profileOn_icon">
                        </div>
                        <div class="name"> Profile </div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- END OF NAV BAR CODE -->

        <div>
            {% block content %}
            {% endblock content %}
        </div>
    <script src='startpage.js'></script>
</body>
</html>